{% extends "base.html" %}

{% load adminmedia %}
{% load ifjobrights %}

{% block title %}Jobs Schedule{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">Jobs Schedule</div>
{% endblock %}

{% block content %}

<table class="tbl_overview">
    <thead>
        <tr class="topdowngradient">
            <th>Job Name</th>
            <th>Run job</th>            
<!--             <th>Last run</th> -->
            <th>RSS</th>
            <th>Created by</th>            
            <th>Public</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
    
{% for job in schedule.object_list %}
    {% ifjobrights job user %}
        <tr>
            <td><a href="/schedule/{{ job.id }}">{{ job.job_name }}</a></td>
            <td class="nowrap">
            {% if job.scheduled_start %}
                Once on {{ job.scheduled_start|date:"d-m-Y \a\t H:i" }}
            {% else %}
				{{ job.cron_expression }}
            {% endif %}
            </td>
            
<!--             <td class="nowrap"><a href="/schedule/lastrun/{{ job.id }}/"></a></td> -->
            <td class="nowrap">
                <a href="/feeds/{{ job.id }}/all/">All</a> | 
                <a href="/feeds/{{ job.id }}/nonbenign/">Non-Benign</a>
            </td>
            
            <td>
            {% if job.created_by.first_name or job.created_by.last_name %}
                {{ job.created_by.first_name|add:" "|add:job.created_by.last_name }}
            {% else %}
                {{ job.created_by }}
            {% endif %}
            </td>            
            <td class="center">
            {% if job.is_public %}
                <img src="{% admin_media_prefix %}img/admin/icon-yes.gif" alt="YES">
            {% else %}
                <img src="{% admin_media_prefix %}img/admin/icon-no.gif" alt="NO">
            {% endif %}
            </td>
            <td>{{ job.get_status_display|upper }}</td>
        </tr>
        
        {% else %}
        
        <tr class="tr_disabled">
            <td></td>
            <td>
            {% if job.scheduled_start %}
                Once at {{ job.scheduled_start|date:"H:i" }}
            {% else %}
            	{{ job.cron_expression }}
            {% endif %}
            </td>
            
<!--             <td>TODO</td> -->
            
            <td></td>
            <td></td>            
            <td class="center">
            {% if job.is_public %}
                <img src="{% admin_media_prefix %}img/admin/icon-yes.gif" alt="YES">
            {% else %}
                <img src="{% admin_media_prefix %}img/admin/icon-no.gif" alt="NO">
            {% endif %}
            </td>
            <td>{{ job.get_status_display|upper }}</td>
        </tr>
        {% endifjobrights %}
{% endfor %}    
    
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">

        {% if schedule.has_previous %}
            <a href="?page={{ schedule.previous_page_number }}"><img src="/static/img/left_24.png"></a>
        {% else %}
        <img src="/static/img/left_24.png" class="img_disabled">
        {% endif %}

        <span class="current">
            {{ schedule.start_index }} - {{ schedule.end_index }} of {{ schedule.paginator.count }}
        </span>

        {% if schedule.has_next %}
            <a href="?page={{ schedule.next_page_number }}"><img src="/static/img/right_24.png"></a>
        {% else %}
        <img src="/static/img/right_24.png" class="img_disabled">
        {% endif %}            

    </span>
</div>

{% endblock %}