{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}/static_admin/css/base.css{% endblock %}" />
{% block extrastyle %}{% endblock %}

<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}/admin_media/css/ie.css{% endblock %}" /><![endif]-->
<script type="text/javascript">window.__admin_media_prefix__ = "/static_admin/";</script>
{% endblock %}


{% block title %} Admin | {{ title }}{% endblock %}
